:root {
	--fontFamilySys: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
	--fontFamilyLatex: "NewComputerModern10", Georgia, "Times New Roman", serif;
	--fontSizeMain: 22px;
	--fontSizeSmall: 18px;
	--fontSizeLarge: 48px;
	--colorMain: #ffffff;
	--colorDim: #cfd8dc;
	--colorEm: #4dd0e1;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-weight: 300;
}

*[tooltip] {
	position: relative;
}
*[tooltip]:hover::after {
	position: absolute;
	z-index: 5;
	width: max-content;
	height: 20px;
	font-size: 12px;
	border-radius: 4px;
	border: 1px solid white;
	content: attr(tooltip);
	left: -50%;
	top: 80%;
}

#bgFallback {
	background: linear-gradient(135deg, #65799b, #5e2563);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -5;
	position: fixed;
	top: 0;
	left: 0;
}

#bg {
	background: linear-gradient(135deg, #65799b, #5e2563);
	background-image: none;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -3;
	position: fixed;
	top: 0;
	left: 0;
}

#mica {
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #232734db;
	backdrop-filter: blur(40px);
	position: fixed;
	top: 0;
	left: 0;
}

#searchboxContainer {
	width: fit-content;
	margin: auto;
	padding: 8vh 0;
	font-size: var(--fontSizeMain);
	font-family: var(--fontFamilySys);
}

#prev {
	color: var(--colorDim);
	opacity: 0.5;
	transition: color 0.3s;
	cursor: pointer;
}
#prev:hover {
	color: var(--colorEm);
}
#prev.disabled {
	cursor: not-allowed;
}
#prev.disabled:hover {
	color: var(--colorDim);
}

#inputWord {
	padding: 8px;
	border: 1px solid #88808466;
	background-color: transparent;
	border-radius: 32px;
	text-align: center;
	width: 320px;
	min-width: 10vw;
	font-size: 18px;
	color: var(--colorDim);
	font-family: var(--fontFamilySys);
	transition: border 0.3s, background 0.3s;
}

#inputWord:focus,
#inputWord:hover {
	outline: none;
	background-color: #232734ee;
}

#inputWord:hover {
	border: 1px solid #8bc34a99;
}

#inputWord:disabled {
	cursor: not-allowed;
	background-color: #88000010;
	border: 1px solid #88000050;
}

#resultContainer {
	width: fit-content;
	max-width: 90vw;
	min-width: 30vw;
	max-height: calc(80vh - 64px);
	overflow: auto;
	margin: auto;
}

#result {
	width: 50vw;
	max-width: 90vw;
	min-width: 30vw;
	margin: auto;
	resize: horizontal;
	overflow: hidden;
}

#word {
	font-size: var(--fontSizeLarge);
	font-family: var(--fontFamilyLatex);
	font-weight: 600;
	color: var(--colorMain);
}

#phonetic {
	font-size: var(--fontSizeSmall);
	font-family: var(--fontFamilySys);
	color: var(--colorDim);
}

#retry {
	transition: color 0.3s;
	cursor: pointer;
}
#retry:hover {
	color: var(--colorEm);
}

#def {
	font-size: var(--fontSizeMain);
	font-family: var(--fontFamilyLatex);
	color: var(--colorMain);
	margin: var(--fontSizeMain) 0;
}

#def>.line {
	display: block;
	margin: calc(var(--fontSizeMain) / 2) 0;
}

#def>.line>.pos {
	display: inline-block;
	width: calc(var(--fontSizeMain) * 2.5);
	color: var(--colorEm);
	font-weight: 600;
}

.sepWord {
	border-bottom: 1px solid;
	border-color: transparent;
	cursor: pointer;
	transition: border 0.3s, opacity 0.3s;
}
.sepWord:hover {
	border-color: initial;
}

.dim {
	display: inline;
	color: var(--colorDim);
	font-size: var(--fontSizeSmall);
}
.dim::before {
	content: ' (';
}
.dim::after {
	content: ') ';
}

#additional {
	font-size: var(--fontSizeSmall);
	font-family: var(--fontFamilyLatex);
	color: var(--colorDim);
}

#version {
	position: fixed;
	width: fit-content;
	padding: 4px 8px;
	border-radius: 4px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 8px;
	font-size: 12px;
	color: var(--colorDim);
	font-family: var(--fontFamilySys);
	transition: background 0.3s;
}

#version:hover {
	background-color: #232734;
}

::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
	display: none;
}
